<%- include('header'); -%> 

        <div class="box" id="heading">
            <h1><%= listTitle %></h1>
        </div>
        <div class="box">
            <% for(var i=0; i < newListItems.length; i++) {%>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
            <% } %>

            <!--Enable User to post new items to the list via a post request-->
            <form class="item" action="/" method="post">
                <input id="item" type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <!--Let the button to send to the correct place-->
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
        </div>
    </body>

<%- include('footer'); -%>